@use '../mixins/responsive.scss' as *;
@use '../mixins/flexbox.scss' as *;
@use '../mixins/pseudo.scss' as *;
@use '../mixins/hover.scss' as *;

.score {
  &__item {
    width: 180px;
    height: 250px;
    background-color: var(--secondary-color);
    border-radius: 10px;
  }
}
